<div class="container">

	<div class="row">			
		<div class="col text-center">
	      <h1 class="mb-5">Wykonaj jedną z akcji</h1>
		</div>
	</div>

	<div class="row mb-5">        
		<div class="col-md-2"></div>
		<div class="col-md-4 text-center">
			<a href="#download" class="background-color-aqua btn btn-outline btn-xl js-scroll-trigger margin-5px">Wyślij informację</a>  				  
		</div>
		<div class="col-md-4 text-center">
			<a href="#download" class="background-color-red btn btn-outline btn-xl js-scroll-trigger margin-5px">Włącz alarm</a>
		</div>
		<div class="col-md-2"></div>
	</div>


		
	<div class="row">			
		<div class="col text-center">
	         <!-- <h1 class="mb-5">Wyślij informację lub włącz alarm! {{ title }}</h1>  -->
	         <h1 class="mb-5">lub</h1>
		</div>			  
	</div>
	<div class="row">			
		<div class="col text-center">
			<a href="#download" class="btn btn-outline btn-xl js-scroll-trigger mb-5">Zapoznaj się z instrukcją</a>
		</div>	
	</div>

</div>