    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" [hidden]="!authenticated">
      <div class="container">
      <!-- 
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Strona główna</a>
         -->
         <app-user></app-user>
         
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#page-top" routerLink="/main">Strona główna</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#features">Wysłane wiadomości</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Moje alarmy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#page-top" [routerLink]="['/admin', {outlets: {'firstChild': ['users']}}]">Administracja</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">Instrukcja</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="" (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


<header class="masthead" [hidden]="!authenticated">
	<router-outlet></router-outlet>
</header>

<!-- <div class="alert alert-danger" [hidden]="!error">There was a
problem logging in. Please try again.</div> -->
<div class="container" [hidden]="authenticated">
  <form role="form" (submit)="login()">
    <div class="form-group">
      <label for="username">Username:</label> <input type="text"
        class="form-control" id="username" name="username"
        [(ngModel)]="credentials.username" />
    </div>
    <div class="form-group">
      <label for="password">Password:</label> <input type="password"
        class="form-control" id="password" name="password"
        [(ngModel)]="credentials.password" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

