<div class="container">

	<div class="row">			
		<div class="col">
			<div *ngIf="user">

				<div class="row">			
						<div class="col  text-center">
							<h2>{{ user.email }}</h2>
							<div><span>id: </span>{{user.id}}</div>
						</div>		
				</div>


				<div class="row">			
					<div class="col text-right">
						<label>Login:</label>
					</div>
					<div class="col text-left">
							<input [(ngModel)]="user.login" placeholder="login"/>
					</div>
				</div>				

				<div class="row">			
						<div class="col text-right">
							<label>First name:</label>
						</div>
						<div class="col text-left">
								<input [(ngModel)]="user.firstName" placeholder="fname"/>
						</div>
				</div>

				<div class="row">			
						<div class="col text-right">
							<label>Last name:</label>					
						</div>
						<div class="col text-left">
							<input [(ngModel)]="user.lastName" placeholder="lname"/>
						</div>
				</div>

				<div class="row">			
						<div class="col text-right">
								<label>Email:</label>					
						</div>				
						<div class="col text-left">
							<input [(ngModel)]="user.email" placeholder="email"/>
						</div>
				</div>
					
				<div class="row">			
						<div class="col text-right">
								<button (click)="goBack()">go back</button>
						</div>				
						<div class="col text-left">
							<button (click)="save()">save</button>
						</div>
				</div>

			</div>
		</div>
	</div>
</div>
