

<div class="container">
	
	<mat-card>
		<div class="row">
			<div class="col text-right">
				
				<div class="example-container">
					
					<mat-form-field>
						<mat-label>Type unique login</mat-label>
						<input [(ngModel)]="user.login" matInput placeholder="Login" required>
					</mat-form-field>
					
					<mat-form-field>
						<input [(ngModel)]="user.firstName" matInput placeholder="First Name">
					</mat-form-field>
				
					<mat-form-field>
						<input [(ngModel)]="user.lastName" matInput placeholder="Last Name">
					</mat-form-field>
			
					<mat-form-field>
						<input [(ngModel)]="user.email" matInput placeholder="Email" required>			
					</mat-form-field>
										
				</div>
			</div>
		</div>
	
	</mat-card>
	<div class="row">			
		<div class="col text-right">
			<button (click)="goBack()" mat-raised-button>go back</button>					
		</div>				
		<div class="col text-left">
			<button (click)="save()" mat-raised-button>save</button>					
		</div>
	</div>
	
</div>
	  



<!-- 
<div class="container">

	<div class="row">			
		<div class="col">
			<div *ngIf="user">

				<div class="row">			
						<div class="col  text-center">
							<h2>{{ user.email }}</h2>
							<div><span>id: </span>{{user.id}}</div>
						</div>		
				</div>


				<div class="row">			
					<div class="col text-right">
						<label>Login:</label>
					</div>
					<div class="col text-left">
							<input [(ngModel)]="user.login" placeholder="login"/>
					</div>
				</div>				

				<div class="row">			
						<div class="col text-right">
							<label>First name:</label>
						</div>
						<div class="col text-left">
								<input [(ngModel)]="user.firstName" placeholder="fname"/>
						</div>
				</div>

				<div class="row">			
						<div class="col text-right">
							<label>Last name:</label>					
						</div>
						<div class="col text-left">
							<input [(ngModel)]="user.lastName" placeholder="lname"/>
						</div>
				</div>

				<div class="row">			
						<div class="col text-right">
								<label>Email:</label>					
						</div>				
						<div class="col text-left">
							<input [(ngModel)]="user.email" placeholder="email"/>
						</div>
				</div>
					
				<div class="row">			
						<div class="col text-right">
								<button (click)="goBack()">go back</button>
						</div>				
						<div class="col text-left">
							<button (click)="save()">save</button>
						</div>
				</div>

			</div>
		</div>
	</div>
</div>
 -->
