<div class="container">

	<div class="row">
		<div class="col">
			<a mat-raised-button routerLink="/users/new">Add user</a>				
		</div>
	
		<div class="col text-right">
			<button mat-icon-button [matMenuTriggerFor]="menu">
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
			<button mat-menu-item>
				<mat-icon>dialpad</mat-icon>
				<span>Redial</span>
			</button>
			<button mat-menu-item disabled>
				<mat-icon>voicemail</mat-icon>
				<span>Check voicemail</span>
			</button>
			<button mat-menu-item>
				<mat-icon>notifications_off</mat-icon>
				<span>Disable alerts</span>
			</button>
			</mat-menu>
		</div>
	</div>


	
	<div class="example-container mat-elevation-z8">
		<div class="example-header">
			<mat-form-field>
				<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
			</mat-form-field>
		</div>
		
		<mat-table [dataSource]="dataSource" matSort>
		
			<!-- ID Column -->
			<ng-container matColumnDef="id">
			<mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
			</ng-container>
		
			<!-- Login Column -->
			<ng-container matColumnDef="login">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Login</mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.login}} </mat-cell>
			</ng-container>
		
			<!-- First Name Column -->
			<ng-container matColumnDef="firstName">
			<mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
			</ng-container>
		
			<!-- Last Name Column -->
			<ng-container matColumnDef="lastName">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
			<mat-cell *matCellDef="let row">{{row.lastName}}</mat-cell>
			</ng-container>

			<!-- Email Column -->
			<ng-container matColumnDef="email">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
			<mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
			</ng-container>

			<!-- Edit Column -->
			<ng-container matColumnDef="edit">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Edit</mat-header-cell>
			<mat-cell *matCellDef="let row" style="color: darkcyan" routerLink="/users/{{row.id}}">Edit</mat-cell>
			</ng-container>

			<!-- Delete Column -->
			<ng-container matColumnDef="delete">
				<mat-header-cell *matHeaderCellDef mat-sort-header>Delete</mat-header-cell>
				<mat-cell *matCellDef="let row" style="color: crimson" (click)="delete(user)">Delete</mat-cell>
				</ng-container>

			<!-- Color Column -->
			<!-- <ng-container matColumnDef="color">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>
			<mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </mat-cell>
			</ng-container>
		-->
			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;">
			</mat-row>
		</mat-table>
		
		<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
	</div>

</div>

	<!--
	<div class="container">

			<div class="row">			
				<div class="col text-center">
					<h2>HMS Users</h2>
				</div>
			</div>
		
			<div *ngFor="let user of users" class="row">			
					<div class="col text-right">
						<a routerLink="/users/{{user.id}}">
							<span class="badge">{{user.firstName}}</span> {{user.lastName}}
						</a>				
					</div>
					<div class="col">
						<button class="delete" title="Delete user" (click)="delete(user)">x</button>
					</div>
			</div>

			<div class="row">			
				<div class="col text-center">
					<a routerLink="/users/new">
						<span class="badge">New</span>
					</a>				
				</div>
			</div>
		</div>
	-->

