.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin-top: 20px;
    background-color: white;
    /* padding: 0px 20px 10px 20px; */
  }
  
  .example-header {
    min-height: 64px;
     padding: 8px 24px 0; 
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
    /* background: none; */
  }

  .mat-column-id {
    flex: 0 0 30px;
  }

  .mat-column-login {
    flex: 0 0 150px;
  }

  .mat-column-edit {
    flex: 0 0 50px;
  }

  .mat-column-delete {
    flex: 0 0 50px;
  }

  .mat-column-firstName {
    flex: 0 0 150px;
  }

  .mat-column-lastName {
    flex: 0 0 150px;
  }
  .mat-icon-button {
    background-color: white;
  }

  .margin-top {
    margin-top: 20px;
  }
/* 
  .mat-paginator {
    background: none;
  }
   */

  /* .mat-cell {
    color: whit;
  }

  .mat-header-cell {
    color: white;
  }

  label .mat-form-field-label {
    color: white !important;
  }

  .mat-sort-header-button {
    color: white;
  }

  .mat-input-element {
    color: white;
  }

  .mat-paginator {
    color: white;
  } */

  .mat-input-element {
    caret-color: tomato;
  }
  /* .mat-select-value {
    color: white !important;
  }

  .mat-select-value-text {
    color: white;
  } */

