<div class="container">

		<div class="row">			
			<div class="col text-center">
				<h2>HMS Users</h2>
			</div>
		</div>
	
		<div *ngFor="let user of users" class="row">			
				<div class="col text-right">
					<a routerLink="/users/{{user.id}}">
						<span class="badge">{{user.firstName}}</span> {{user.lastName}}
					</a>				
				</div>
				<div class="col">
					<button class="delete" title="Delete user" (click)="delete(user)">x</button>
				</div>
		</div>

		<div class="row">			
			<div class="col text-center">
				<a routerLink="/users/new">
					<span class="badge">New</span>
				</a>				
			</div>
		</div>

			
	</div>